.login-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .eye-icon svg {
        top: 75%
    }

    .dark-mode-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;

        svg {
            font-size: 2rem;
        }
    }

    .back-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;

        svg {
            font-size: 2rem;
        }
    }

    .img-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .img-container img {
        width: 90%;
    }

    .l-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    
        .forgot-password-link {
            cursor: pointer;
            margin-top: 20px;
            margin-bottom: 10px;
            &hover {
                text-decoration: underline;
            }
        }
    }
    
    .l-container label {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .l-container h1 {
        margin-bottom: 20px;
        color: var(--tree-green);
    }
    
    .l-container p {
        margin-bottom: 20px;
        color: var(--dark-tree-green);
    }
    
    .l-input {
        height: 30px;
        padding: 10px;
        width: 50%;
        background-color: var(--light-gray);
        border: none;
        border-radius: 5px;
        outline: none;
    }
    
    .l-button {
        border: none;
        padding: 10px 20px;
        background-color: var(--tree-green);
        color: var(--white);
        margin-top: 20px;
        margin-bottom: 30px;
        width: 250px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .l-button:hover {
        background-color: var(--dark-tree-green);
    }
    
    .l-button:disabled {
        background-color: var(--turquoise);
        cursor: not-allowed;
    }
    
    .password-input {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    .eye-icon svg {
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}



@media screen and (max-width: 600px) {
    .img-container, .l-container {
        width: 80%;
    }

    .l-input {
        width: 80%;
    }
}

.app.dark .login-container {

    h1 {
        color: var(--mild-turquoise);
    }

    p {
        color: var(--light-turquoise);
    }

    .l-input {
        background-color: var(--light-black);
        color: var(--white);
    }

    .l-button {
        &:hover {
            background-color: var(--turquoise);
        }
    }
}