.calendar-container {
  position: relative;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

}
.react-calendar { 
  border: 1px solid var(--white) !important;
  border-radius: 10px !important;
  padding: 10px !important;
}


.highlight {
  background: var(--light-blue) !important;
  border-radius: 50%;
  color: var(--black);
  position: relative;
}

.react-calendar__tile--now {
    background-color: var(--light-pink);
}

.event-dot {
  width: 6px;
  height: 6px;
  background: var(--blue);
  border-radius: 50%;
  margin: auto;
  margin-top: 2px;
}

.selected-event {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.event-popup {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--white);
  border: 1px solid var(--light-gray);
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.app.dark .calendar-container {
  .react-calendar {
    background: var(--black);
    color: var(--white);
    border: none;
  }
  .react-calendar__tile {
    background: transparent;
    color: var(--white);
    &:hover {
      background: var(--black);
    }
  }
  .react-calendar__month-view__days__day--weekend {
    color: var(--heading-gray);
  }
  .react-calendar__navigation button {
    color: var(--white);
    background: var(--black);
  }
  .react-calendar__tile--active {
    background: var(--light-black) !important;
    color: var(--white) !important;
  }

  .react-calendar__tile--now {
      background-color: var(--dark-purple);
  }

  .event-dot {
    background: var(--light-blue);
  }

  .selected-event {
    background-color: var(--blue);
  }

  .highlight {
    background: var(--dark-blue) !important;
    color: var(--white);
  }

  .event-popup {
    background: #1E201E;
    color: var(--white);
    border: 1px solid var(--gray);
  }
}