.school-info-skeleton {
  padding: 16px;
  background: white;
  border-radius: 10px;

  .title {
    height: 20px;
    width: 60%;
    margin-bottom: 12px;
  }

  .line {
    height: 14px;
    width: 100%;
    margin-bottom: 8px;

    &.small {
      width: 70%;
    }
  }
}
