.generic-table {

  max-height: 400px;

  &.scrollable {
    overflow-y: auto;
  }

  .MuiTable-root {
    .MuiTableHead-root {
      background-color: var(--light-turquoise);
    }
  }

  .table-cell {

    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
      
    }
  }
}

.app.dark .generic-table{

  .MuiTableCell-root {
    color: var(--white) !important;
  }

  .MuiTableRow-root {
    color: var(--white);
  }

  .MuiTable-root {
    background-color: var(--black);

    .MuiTableHead-root {
      background-color: var(--dark-tree-green);
    }
  }
}