.home {
  display: flex;
  height: 100vh;
  
  .admin-home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .charts {
      padding: 5px 20px;
    }
    
    .main-container {
      
      background-color: var(--light-gray);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      padding-top: 20px;

      .bottom-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;

        .session-container {
            display: flex;
            width: 20%;
            height: 300px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            text-align: center;
            background-color: var(--white);

            .icon {
              font-size: 3rem;
            }

            h2 {
              margin-top: 20px;
            }

            .start-new-session {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: var(--tree-green);
              color: var(--white);
              font-weight: bold;
              cursor: pointer;
              margin-top: 20px;
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: var(--dark-tree-green);
              }
            }
        }

        .pie-chart-container {
          display: flex;
          width: 20%;
          background-color: var(--white);
          height: 300px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          border-radius: 10px;

          h3 {
              margin-top: 20px;
          }
        }
      }
    }
  }
}

.app.dark .home {
  color: var(--white);
  
  .main-container {

    background-color: var(--black);

    .session-container {
      background-color: var(--light-black);
    }

    .pie-chart-container {
      background-color: var(--light-black);
    }
  }

}