.faculty-home-container {
    
    background-color: var(--off-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;

        .left-container {
            display: flex;
            height: 100%;
            flex-direction: column;
            width: 74%;
            background-color: var(--white);
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            gap: 50px;

            .school-info-container {
                margin-top: 30px;
            }


            .bottom-container {
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: flex-start;
                padding-bottom: 50px;

                .faculty-courses-container {
                    width: 650px;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    padding: 20px;
                    min-height: 300px;
                    border-radius: 10px;
                    position: relative;
                    text-align: center;

                    h3 {
                        span {
                        background-color: var(--light-gray);
                        padding: 5px 10px;
                        margin-left: 5px;
                        border-radius: 7px;
                        font-weight: 600;
                        } 
                    }

                    .c-title {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        color: var(--gray);
                        text-align: center;
                    }
                
                    .courses-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        
                    }
                }
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 24%;
            gap: 20px;
            margin-top: 20px;
        }
    }
}

.app.dark .faculty-home-container {
    background-color: var(--light-black);

    .c-title {
        color: var(--white);
    }

    .main-container {
        .left-container {
            background-color: var(--black);
        }
    }
}