.attendance-info {
    height: fit-content;
    min-height: 100vh;
    margin-left: 30px;
    text-align: center;

    .attendance-title {
        margin-top: 30px;
    }

    .attendance-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .classes-button {
            display: flex;
            padding: 20px;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 50%;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;

            button {
                border: 1px solid var(--turquoise);
                outline: none;
                padding: 15px 20px;
                border-radius: 10px;
                background-color: var(--white);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                font-size: 1rem;

                &:hover {
                    background-color: var(--light-blue);
                    color: var(--black);
                }
            }

            .selected-class {
                background-color: var(--turquoise);
                color: var(--white);
            }
        }

        h1 {
            font-size: 1.1rem;
            margin-top: 20px;
        }

        .attendance-dates-calender {
            width: 90%;

            .rbc-event-content {
                background-color: var(--tree-green);
            }

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }

        .attendance-dates-table {

            margin-top: 50px;
            .attendance-date {
                display: flex;
                gap: 10px;
            }
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 50px;

            .clear-attendance {
                button {
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    background-color: var(--light-red);
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        background-color: var(--red);
                        color: var(--white);
                    }
                }
            }
    
            .view-percentage {
                button {
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    background-color: var(--light-tree-green);
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        background-color: var(--tree-green);
                        color: var(--white);
                    }
                }
            }
        }
    }
}