.attendance-info {

    .attendance-info-container {

        .attendance-dates-table {

            margin-top: 50px;
            .attendance-date {
                display: flex;
                gap: 10px;
            }
        }
    }
}