.mark-attendance {
    margin-left: 30px;
    height: fit-content;
    min-height: 100vh;

    h1 {
        margin-top: 20px;
    }

    .mark-attendance-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .classes-button {
            display: flex;
            padding: 20px;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            width: 100%;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;

            button {
                border: 1px solid var(--turquoise);
                outline: none;
                padding: 15px 20px;
                border-radius: 10px;
                background-color: var(--white);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                font-size: 1rem;

                
                &:hover {
                    background-color: var(--light-blue);
                    color: var(--black);
                }
            }
            .selected-class {
                background-color: var(--turquoise);
                color: var(--white);
            }
        }

        h1 {
            font-size: 1.3rem;
        }

        .attendance-header {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 50px;
            
            .attendance-date-picker {
                margin: 20px 0;
                padding: 20px 20px;
                background-color: var(--light-turquoise);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                input {
                    text-align: center;
                    font-size: 1rem;
                    padding: 15px 20px;
                    border-radius: 10px;
                }
            }
        }

        .attendance-marking-table {
            display: table;
            margin-top: 20px;
            width: 70%;
            border-collapse: collapse;
            flex-direction: column;

            @media screen and (max-width: 600px) {
                width: 80%;
                overflow-x: scroll;
            }

            #title-row {
                background-color: var(--light-turquoise);
                font-weight: 600;
            }

            .attendance-row {
                display: table-row;

                .attendance-col {
                    display: table-cell;
                    padding: 8px;
                    border: 1px solid var(--light-gray);
                    text-align: left;

                    input {
                        padding: 5px;
                    }
                  }

              }
        }

        .mark-attendance-button {
            button {
                border: none;
                outline: none;
                padding: 10px 20px;
                font-size: 1.1rem;
                margin-top: 30px;
                color: var(--white);
                font-weight: 600;
                background-color: var(--turquoise);
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.app.dark .mark-attendance {

    .classes-button {
        button {
            background-color: var(--black);
            color: var(--white);
    
            &:hover {
                background-color: var(--dark-tree-green);
                color: var(--white);
            }
        }
    }

    .selected-class {
        background-color: var(--tree-green) !important;
    }

    .attendance-date-picker {
        background-color: var(--dark-tree-green);

        input {
            background-color: var(--black);
            color: var(--white);
        }
    }

    .attendance-marking-table {
        #title-row {
            background-color: var(--dark-tree-green);
            color: var(--white);
        }
    }
    .mark-attendance-button {
        button {
            background-color: var(--tree-green);
        }
    }
}