

  .events-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .events-title {
      font-size: 30px;
      color: var(--gray);
      margin: 20px 0;
      font-weight: bold;
    }

    .event-container {
      width: 80%;
      display: flex;
      justify-content: center;

        .cards-container {

          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .card {
            position: relative;
            width: 350px;
            height: 450px;
            margin: 20px;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
            background: var(--white);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(4px);

            &:hover {
              transform: translateY(-2px);
              box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            }

            .content {
              padding: 10px;
              text-align: center;
              transform: translateY(20px);
              transition: 0.5s;

              img {
                height: 180px;
                width: 250px;
                overflow: hidden;
                padding: 5px;
                object-fit: cover;
              }

              h4 {
                padding: 10px 0;
                font-size: 1.3em;
                color: var(--mild-turquoise);
                z-index: 1;
              }

              h6 {
                font-size: 0.8em;
                color: var(--black);
                font-weight: bold;
                padding: 5px 0;

                span {
                  color: var(--mild-turquoise);
                  font-weight: bold;
                }
              }

              .event-tag {
                display: inline-block;
                margin: 5px 0;
                padding: 5px 20px;
                border-radius: 5px;
                font-size: 0.8em;
                font-weight: 500;
                color: var(--black);
              }

              .upcoming {
                background-color: var(--light-yellow);
              }

              .ongoing {
                background-color: var(--light-blue);
              }

              .past {
                background-color: var(--light-gray);
              }

              p {
                margin: 0 10px;
                padding: 5px 5px;
                color: var(--black);
                background-color: rgba(255, 255, 255, 0.174);
              }

              button {
                position: relative;
                display: inline-block;
                padding: 8px 20px;
                margin: 20px 0;
                background: var(--black);
                color: var(--white);
                border: none;
                border-radius: 20px;
                outline: none;
                text-decoration: none;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  transform: translateY(-2px);
                  background-color: var(--gray);
                }
              }
            }

            &:hover content {
              transform: translateY(0px);
            }
          }
        }

      }
  }

  .app.dark .events-list {
    .events-title {
      color: var(--light-gray);
    }
    .card {
      background-color: var(--light-black);

      .content {

        p {
          background-color: transparent;
          color: var(--white);
        }

        button {
          background-color: var(--tree-green);
          &:hover {
            background-color: var(--turquoise);
          }
        }

        .upcoming {
          background-color: var(--dark-yellow);
          color: var(--white);
        }

        .past {
          background-color: var(--dark-gray);
          color: var(--white);
        }

        .ongoing {
          background-color: var(--dark-blue);
          color: var(--white);
        }
      }
    }
  }