.classes {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;

    .whole-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        h1 {
            font-size: 30px;
            color: var(--gray);
            margin: 20px 0;
            font-weight: bold;
        }

        .classes-container {
            display: flex;
            width: 90%;
        margin-top: 40px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .class-container {
                height: fit-content;
                width: 300px;
                background-color: var(--light-gray);
                padding: 20px;
                border-radius: 10px;
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;

                &:hover {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transform: translateY(-5px);
                    transition: all ease-in-out 0.3s;
                }

                button {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 5px;
                    font-weight: 500;
                    width: 180px;
                }

                .view-button {
                    background-color: var(--light-turquoise);
                    padding: 8px 20px;
                    font-size: 15px;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: var(--mild-turquoise);
                    }
                }

                .att-button {
                    background-color: var(--light-tree-green);
                    padding: 8px 20px;
                    font-size: 15px;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: var(--mild-turquoise);
                    }
                }

                .marks-button {
                    background-color: var(--light-green);
                    padding: 8px 20px;
                    font-size: 15px;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: var(--light-turquoise-two);
                    }
                }

                 .tt-button {
                    background-color: var(--light-red);
                    padding: 8px 20px;
                    font-size: 15px;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: var(--mild-red);
                    }
                }
            }
        }
    }
}

.app.dark .classes {
    background-color: var(--black);
    h1 {
        color: var(--light-gray);
    }
    .classContainer {
        background-color: var(--light-black);
        
        .viewButton {
            color: var(--white);
            background-color: var(--tree-green);
            &:hover {
                background-color: var(--dark-tree-green);
            }
        }

        .attButton {
            color: var(--white);
            background-color: var(--blue);
            &:hover {
                background-color: var(--dark-blue);
            }
        }

        .marksButton {
            color: var(--white);
            background-color: var(--mild-turquoise);
            &:hover {
                background-color: var(--turquoise);
            }
        }

        .ttButton {
            color: var(--white);
            background-color: var(--gray);
            &:hover {
                background-color: var(--dark-gray);
            }
        }
    }
}