.view-class {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin-bottom: 30px;

    .view-class-container {
        margin-top: 50px;
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px;
            font-size: 1.2rem;
            width: 150px;
        }
        .class-teacher-info {
            display: flex;
            align-items: center;
            gap: 10px;
            
            .icon {
                cursor: pointer;
            }
        }

        h3 span {
            font-weight: 400;
        }

        .add-buttons {
            display: flex;
            gap: 20px;
        }

        .student-button {
            background-color: var(--light-purple);
            transition: all ease-in-out 0.2s;
            &:hover {
                background-color: var(--light-purple);
            }
        }

        .course-button {
            background-color: rgb(245, 245, 219);
            transition: all ease-in-out 0.2s;
            &:hover {
                background-color: var(--light-yellow);
            }
        }

        .faculty-button {
            background-color: var(--light-blue);
            transition: all ease-in-out 0.2s;
            &:hover {
                background-color: var(--mild-turquoise);
            }
        }

        .top {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            justify-content: center;
        }

        .bottom {

            text-align: center;

            @media screen and (max-width: 1100px){
                width: 65%;
            }
      
              @media screen and (max-width: 600px){
                width: 80%;
              }
        }
        
    }
}