.formInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    select {
        background-color: #F5F5F5;
        max-width: 300px;
        padding: 5px;
    }
}

.app.dark select {
    background-color: var(--light-black) !important;
    color: var(--white);
}