.infobanner-container {

    width: 90%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;


    svg {
        font-size: 2.5rem;
    }
    
}
.infobanner-container.info {
    background-color: var(--light-yellow);
    .icon {
        color: var(--golden);
    }
}

.infobanner-container.error {
    background-color: var(--light-red);
    .icon {
        color: var(--crimson);
    }
    
}

.infobanner-container.success {
    background-color: var(--light-green);
    .icon {
        color: var(--green);
    }
}

.app.dark {
    .infobanner-container.info {
        background-color: var(--dark-yellow);
    }
    .infobanner-container.error {
        background-color: var(--brown);
    }
    .infobanner-container.success {
        background-color: var(--dark-tree-green);
    }
}