.infobanner-container {

    width: 90%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;


    svg {
        font-size: 2.5rem;
    }
    
}
.infobanner-container.info {
    background-color: #FFE2AF;
    .icon {
        color: #c08b07;
    }
}

.infobanner-container.error {
    background-color: #f2cdcd;
    .icon {
        color: #b50707;
    }
    
}

.infobanner-container.success {
    background-color: #B3FFCC;
    .icon {
        color: #078b3a;
    }
}

.app.dark {
    .infobanner-container.info {
        background-color: var(--dark-yellow);
    }
    .infobanner-container.error {
        background-color: var(--brown);
    }
    .infobanner-container.success {
        background-color: var(--dark-tree-green);
    }
}