.notifications-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    color: var(--black);
    max-height: fit-content;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
    padding: 10px;

    .notifications-header {
        h3 {
          margin-top: 10px;
            margin-bottom: 30px;
        }
    }

    .notifications-list {
        max-height: 250px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    .notification-item {
      padding: 10px;
      text-align: left;
      background-color: var(--light-turquoise-two);
      border-bottom: 2px solid var(--turquoise);
      margin-bottom: 5px;

      h4 {
        margin: 0 0 5px;
        font-size: 14px;
        font-weight: 600;

        span {
          font-weight: 400;
        }
      }

      p {
        margin: 0;
        font-size: 13px;
        color: var(--gray);
      }
    }

    .no-notifications {
      text-align: center;
      font-size: 15px;
      color: var(--gray);
      padding: 20px 0;
    }

    .notifications-button {
        
        button {
            width: 100%;
            padding: 8px;
            background-color: var(--mild-turquoise);
            margin-bottom: 5px;
            border: none;
            font-weight: 700;
            cursor: pointer;
            color: var(--white);
            outline: none;

            &:hover {
                background-color: var(--tree-green);
            }
        }
    }
  }

.app.dark .notifications-dropdown {
    background-color: var(--light-black);
    border: 1px solid var(--light-gray);
    color: var(--white);

    .notifications-button {
      button {
        background-color: var(--tree-green);

        &:hover {
            background-color: var(--mild-turquoise);
        }
      }
    }

    .no-notifications {
      color: var(--light-gray);
    }
}