@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
}

:root {
    --white: white;
    --off-white: #FBFBFB;
    --light-gray: #F2F4F5;
    --light-purple: #DBC4F0;
    --light-red: #f2cdcd;
    --light-green: #D4E2D4;
    --light-yellow: #FEFAE0;
    --light-pink: #F8E8EE;
    --light-blue: #CDF5FD;
    
    --turquoise: #1AACAC;
    --mild-turquoise: #48A6A7;
    --light-turquoise: #DDEFF0;
    --light-turquoise-two: #e8f7f9;
    
    --tree-green: #077A7D;
    --dark-tree-green: #023333;
    --light-tree-green: #C8EBEE;
    
    --green: #527853;
    --blue: #3876BF;
    --purple: #7E60BF;
    --pink: #C21292;
    --gray: #7D7C7C;
    --red: #EF4040;
    --mild-red: rgb(232, 136, 136);
    --golden: goldenrod;
    --crimson: rgba(220, 20, 60, 0.6);
    --deep-red: #A0153E;
    --black: #000000;
    --light-black: #1E201E;

    --dark-purple: #522258;
    --dark-blue: #03346E;
    --heading-gray: rgb(178, 177, 177);
    --brown: #481E14;
}