
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;

}

:root {
    --light-purple: #DBC4F0;
    --light-red: #FFCACC;
    --light-green: #D4E2D4;
    --cream: #FAF3F0;
    --light-yellow: #FEFAE0;
    --light-pink: #F8E8EE;
    --light-blue: #CDF5FD;
    --gray: #7D7C7C;
    --light-gray: #EEEEEE;
    --turquoise: #1AACAC;
    --yellow: #F2F7A1;
    --red: #EF4040;
    --pink: #C21292;
    --green: #527853;
    --orange: #EE7214;
    --blue: #3876BF;
}

.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h3 {
        font-weight: 500;
    }
}