
// all specifications for dark mode 

.app.dark {
  background-color: var(--black);
  color: var(--white);

  .create-loader, .page-loader {
    span {
        border-color: white white transparent !important;
    }
  }

  .react-datepicker {

    .react-datepicker__header, .react-datepicker__month-container, .react-datepicker__time-list {
      background-color: var(--black);
    }
    .react-datepicker__day-name, .react-datepicker__current-month, .react-datepicker__day, .react-datepicker__time-name, .react-datepicker__time-list-item, .react-datepicker-time__header  {
      color: var(--white);

      &:hover {
        background-color: var(--dark-tree-green) !important;
        color: var(--white);
      }
    }

    .react-datepicker__time-list-item--selected, .react-datepicker__day--selected {
      background-color: var(--tree-green) !important;
      color: white !important;
      font-weight: bold;
    }
  }

  .home {
    background-color: #111;
  }

  .list {
    overflow-y: hidden;
  }

  .chart-grid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .table-cell {
      color: var(--white);
    }
  }

  .navbar {
    color: var(--white);
    border-color: #333;

    .search {
      border-color: gray;

      input {
        color: var(--white);
      }
    }
  }

  .sidebar {


    ul {
      li {
        &:hover {
          background-color: #333;
        color: var(--white);
        }

        .icon {
          color: var(--white);
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: var(--white);
    }
  }
 
}