.single-profile-container {
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  flex-direction: column;  

  .profile-top {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    .profile-left,
    .profile-right {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }

    .profile-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .itemImg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      .details {
        .item-title {
          margin-bottom: 10px;
          color: var(--gray);
        }

        .detail-item {
          margin-bottom: 10px;
          font-size: 14px;

          .item-key {
            font-weight: bold;
            color: var(--gray);
            margin-right: 5px;
          }

          .item-value {
            font-weight: 300;
          }
        }
      }

      .edit-button {
        padding: 12px 15px;
        background-color: var(--tree-green);
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--white);
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-2px);
          background-color: var(--turquoise);
        }
      }
    }

    .profile-right {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;

        span {
            font-weight: bold;
        }
    }
}

  .profile-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .course-title {
      margin: 20px 0;
      color: var(--gray);
      text-align: center;
    }

    .courses-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  /* ================= STUDENT PROFILE ================= */
  &.student-profile {
    .profile-top {
      .profile-left {
        width: 30%;

        @media screen and (max-width: 800px) {
          width: 80%;
        }
      }

      .profile-right {
        width: 60%;

        @media screen and (max-width: 800px) {
          width: 90%;
        }

        .attendance {
          background-color: var(--light-gray);
          border-radius: 10px;
          text-align: center;
          width: 30%;
          padding: 20px;

          .progressbar {
            height: 100px;
            margin-bottom: 10px;
          }

          @media screen and (max-width: 800px) {
            width: 90%;
          }
        }

        .marks {
          width: 60%;

          @media screen and (max-width: 800px) {
            width: 90%;
          }
        }
      }
    }
  }

  /* ================= FACULTY PROFILE ================= */
  &.faculty-profile {
    .profile-top {
      .profile-left {
        width: 40%;

        @media screen and (max-width: 800px) {
          width: 80%;
        }
      }

      .profile-right {
        width: 50%;

        h3 span {
          background-color: var(--light-gray);
          padding: 5px 10px;
          margin-left: 5px;
          border-radius: 7px;
          font-weight: 600;
        }

        @media screen and (max-width: 800px) {
          width: 80%;
        }


        .class-course-container {
          width: 100%;
          display: flex;
          justify-content: center;

          .fclassTitle, .fcourseTitle {
            margin: 20px 0;
            color: var(--gray);
            text-align: center;
          }
  
          .fclasses-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 40%;
  
            .class-container {
              width: 150px;
              padding: 10px;
              border-radius: 10px;
              text-align: center;

              &:nth-child(odd) {
                background-color: var(--light-blue);
              }

              &:nth-child(even) {
                background-color: var(--light-pink);
              }
            }
          }

          .fcourses-container {
            display: flex;
            width: 50%;
            flex-direction: column;
          }
  
          .courses-wrapper {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              align-items: center;
              justify-content: center;
              
          }
        }
      }
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
    }
  }
}

/* ================= DARK MODE ================= */
.app.dark .single-profile-container.student-profile {
  .course-title,
  .details .item-title,
  .details .item-key {
    color: var(--light-gray);
  }
}

.app.dark .single-profile-container.faculty-profile {
    .f-class-title, .f-course-title {
        color: var(--white);
    }
    h3 span {
        background-color: var(--light-black);
    }
    .class-container {
      &:nth-child(odd) {
        background-color: var(--dark-blue) !important;
      }

      &:nth-child(even) {
        background-color: var(--dark-purple) !important;
      }
    }
}
